.mainContainer{
  width: 100%;
  background-image: url("../../../../../assets/login/login.jpg");
}
.mainRow{
  background-color: rgb(51, 51, 51, 0.7);
  box-shadow: 0px 1px 5px 3px rgba(233, 233, 233, 0.2);
  padding: 50px 56px 10px 56px;
  margin-bottom: 50px;
}
.noRow{
  background-color: rgb(51, 51, 51, 0.7);
  box-shadow: 0px 1px 5px 3px rgba(233, 233, 233, 0.2);
  padding: 30px 56px 30px 56px;
}


h1{
  color: #fff;
  letter-spacing: 2px;
}
.addInstructorButton{
  text-align: right;
  margin-bottom: 40px;
}
.addInstructorButton button{
  padding: 10px 50px;
  background-color: #E0E0E0;
  border-radius: 10px;
  margin-right: 50px;
}
.addInstructorButton button:hover{
  background-color: #FF9999;
}

.editDeleteInstructorButtons{
  text-align: right;
  margin-bottom: 10px;
}
.editDeleteInstructorButtons .reset{
  background-color: #FF0000;
}
.editDeleteInstructorButtons button{
  padding: 5px 30px;
  background-color: #C0C0C0;
  border-radius: 10px;
  margin-right: 10px;
}
.editDeleteInstructorButtons button:hover{
  background-color: #FF9999;
}
.mainColText{
  border: solid 1px #808080;
  background-color: #E0E0E0;
  border-radius: 5px;
  margin: 5px;
  padding-bottom: 5px;
  padding-top: 5px;

  white-space: pre-wrap;
  word-break: break-word;
}
.mainCol{
  border-radius: 10px;
  padding: 5px 7px;
  border: solid 2px #808080;
}
.mainCol:hover {
  cursor: pointer;
  background-color: #E0E0E0;
}
.mainCol:hover .mainColText{
  background-color: #A0A0A0;
}
.noInstructors{
  background-color: #fff;
  border: solid 3px #808080;
  border-radius: 10px;
  background-color: #E0E0E0;
  padding: 15px 0;
  letter-spacing: 0.5px;
}
h4{
  font-size: 20px;
  margin-top: 10px;
}
.imgVisible{
  width: 280px;
  height: 230px;
}
.imgVisibleMain{
  width: 280px;
  height: 230px;
}
.mainColClick{
  border: solid 2px #808080;
  border-radius: 10px;
  background-color: rgb(255, 255, 255, 0.8);
}
.mainColClick img:hover{
  cursor: pointer;
}
