.mainContainer{
  width: 100%;
  background-image: url("../../../../../assets/login/login.jpg");
  padding-bottom: 92px;
}

.mainRow{
  width: 100%;
  background-color: rgb(51, 51, 51, 0.7);
  box-shadow: 0px 1px 5px 3px rgba(233, 233, 233, 0.2);
  padding: 50px 56px 10px 56px;
  margin-bottom: 50px;
}

h1{
  text-align: center;
  margin-bottom: 50px;
  letter-spacing: 2px;
  color: #fff;
}
h3{
  text-align: center;
  letter-spacing: 0.5px;
  margin-bottom: 30px;
  border: 1px dashed #FF6666;
  position: sticky;
  top: 0;
  background-color: #FFFFFF;
}
.informationStudents, .generalInformation{
  background-color: rgb(170, 170, 170, 0.9);
  border: 1px solid #404040;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 50px;
  text-align: center;
  max-height: 501px;
  overflow: auto;
}
.generalInformation{
  margin-bottom: 50px;
}
.studentsInfo, .general{
  display: inline-block;
  width: 125px;
  height: 135px;
  border: 1px solid #606060;
  background-color: #FFE5CC;
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 5px;
  border-radius: 3px;
  box-shadow: 3px 3px 5px 1px #888888;
  vertical-align: top;
  white-space: pre-wrap;
  word-break: break-word;

  text-overflow: ellipsis;
  overflow: hidden;
}
.studentsInfo:hover, .general:hover{
  rotate: -2deg;
  cursor: pointer;
}
.studentsInfo label, .general label, span{
  font-size: 12px;
  cursor: pointer;
}
.noElements{
  font-size: 14px;
  border: 5px double #404040;
  padding: 5px;
}
