<div class="logo">
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand mx-auto" href="startDrive/kursant/stronaGlowna/{{schoolId}}/{{studentId}}">StartDrive</a>
    </div>
  </nav>
</div>
<div class="topnav">
  <div class="mainMenu">
    <a class="active" href="startDrive/kursant/stronaGlowna/{{schoolId}}/{{studentId}}"><label>Strona główna</label></a>
    <a href="startDrive/kursant/stronaGlowna/instruktorzy/{{schoolId}}/{{studentId}}"><label>Instruktorzy</label></a>
    <a href="startDrive/kursant/stronaGlowna/kalendarz/{{schoolId}}/{{studentId}}"><label>Kalendarz główny</label></a>
    <a href="startDrive/kursant/stronaGlowna/informacje/{{schoolId}}/{{studentId}}"><label>Informacje dla ...</label></a>
    <a href="startDrive/kursant/stronaGlowna/forum/{{schoolId}}/{{studentId}}"><label>Forum</label></a>
  </div>

  <div class="userName">
    <a href="startDrive/kursant/stronaGlowna/pokazUsun/{{schoolId}}/{{studentId}}"><label>{{logInStudent.email}}</label></a>
    <button onclick="location.href='startDrive/logowanie'">Wyloguj</button>
  </div>
</div>
