<div class="logo mb-5">
  <nav class="navbar navbar-expand-lg">
    <div class="logoContainer mx-auto">
      <a class="navbar-brand mx-auto">StartDrive</a>
    </div>
  </nav>
</div>

<div class="mainContainer pb-4">
  <div class="container mx-auto">

    <div class="row">
      <div class="col-12">
        <h1 class="mb-2 mt-3 text-center">Zarejestruj się jako:</h1><br>
        <div class="text-center mt-2 pb-5 registerDiv">
          <a href="startDrive/rejestracja/rejestracjaKursanta" class="btn btn-secondary">
            <h2>Kursant</h2>
          </a>
          <a href="startDrive/rejestracja/rejestracjaInstruktora" class="btn btn-secondary">
            <h2>Instruktor</h2>
          </a>
          <a href="startDrive/rejestracja/rejestracjaSzkoly" class="btn btn-secondary">
            <h2>Szkoła jazdy</h2>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
