<div class="deleteInformationMain">
  <h2>Usuń informację</h2>
  <div class="deleteInformation mb-5 mt-4">
    <label class="mb-4">
      Czy na pewno chcesz usunąć wybraną informację?<br>
      ({{deleteInformation | transformLengthDisplayedText: 20}})
    </label><br>
    <div class="row">
      <div class="buttonYes col-6">
        <button (click)="deleteInformationRoute()">Tak</button>
      </div>
      <div class="buttonNo col-6">
        <button mat-dialog-close>Nie</button>
      </div>
    </div>
  </div>
</div>
